<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h4 class="modal-title"><span class="fs-12">Lieux de rendez-vous : </span><span id="modalTitle" class="fs-18"></span><a href="https://www.google.com/maps?q=50.650000,3.200000" target="_blank"><img width="70px" src="{{ asset('app/google_maps_logo.png')}}" alt=""></a></h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="map"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-red" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>