<div>
    <div style="gap:4%;" class="row justify-content-center counter-style-07 ps-3 pe-3 mt-3" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
        <div class="col text-center sm-mb-30px kpi-card">
            <div class="d-flex justify-content-around">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="kpi-icon-container" style="background-color:#00b4d8">
                        <i class="fa-solid fa-calendar icon-medium"></i>
                    </div>
                </div>
                <div class="kpi-result-container">
                    <div class="vertical-counter d-inline-flex text-dark-gray fw-800 mb-0 position-relative z-index-0" data-to="{{eventsKpi.total}}">
                        <span class="text-highlight position-absolute bottom-9px w-100"><span class="bg-gradient-flamingo-amethyst-green h-10px opacity-2"></span></span>
                    </div>
                    <span class="d-block fs-14 fw-700 text-uppercase text-dark-gray">Evénements</span>
                </div>
            </div>
        </div>

        {# ACTIVITIES #}
        <div class="col text-center sm-mb-30px kpi-card">
            <div class="d-flex justify-content-around">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="kpi-icon-container" style="background-color:#90e0ef">
                        <i class="fa-solid fa-grip icon-medium"></i>
                    </div>
                </div>
                <div class="kpi-result-container">
                    <div class="vertical-counter d-inline-flex text-dark-gray fw-800 mb-0 position-relative z-index-0" data-to="{{activitiesKpi.total}}">
                        <span class="text-highlight position-absolute bottom-9px w-100"><span class="bg-gradient-flamingo-amethyst-green h-10px opacity-2"></span></span>
                    </div>
                    <span class="d-block fs-14 fw-700 text-uppercase text-dark-gray">Activités</span>
                </div>
            </div>
        </div>
    </div>
    
    <div style="gap:4%;" class="row justify-content-center counter-style-07 ps-3 pe-3 mt-3" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
        
        {# ADMINS #}
        <div class="col text-center sm-mb-30px kpi-card">
            <div class="d-flex justify-content-around">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="kpi-icon-container" style="background-color:#03045e">
                        <i class="fa-solid fa-users-gear icon-custom"></i>
                    </div>
                </div>
                <div class="kpi-result-container">
                    <div class="vertical-counter d-inline-flex text-dark-gray fw-800 mb-0 position-relative z-index-0" data-to="{{administratorsKpi}}">
                        <span class="text-highlight position-absolute bottom-9px w-100"><span class="bg-gradient-flamingo-amethyst-green h-10px opacity-2"></span></span>
                    </div>
                    <span class="d-block fs-14 fw-700 text-uppercase text-dark-gray">Administrateurs</span>
                </div>
            </div>
        </div>

        <div class="col text-center sm-mb-30px kpi-card">
            {# ANIMATORS #}
            <div class="d-flex justify-content-around">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="kpi-icon-container" style="background-color:#0077b6">
                        <i class="fa-solid fa-users icon-custom"></i>
                    </div>
                </div>
                <div class="kpi-result-container">
                    <div class="vertical-counter d-inline-flex text-dark-gray fw-800 mb-0 position-relative z-index-0" data-to="{{animatorsKpi.total}}">
                        <span class="text-highlight position-absolute bottom-9px w-100"><span class="bg-gradient-flamingo-amethyst-green h-10px opacity-2"></span></span>
                    </div>
                    <span class="d-block fs-14 fw-700 text-uppercase text-dark-gray">Animateurs</span>
                </div>
            </div>
        </div>

    </div>
</div>