{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

	<!-- start cursor -->
	{# <div class="cursor-page-inner">
		<div class="circle-cursor circle-cursor-inner"></div>
		<div class="circle-cursor circle-cursor-outer"></div>
	</div> #}
	<!-- end cursor -->

	<!-- start header -->
	{% include 'partials/_header.html.twig' %}
	<!-- end header -->

	<section class="cover-background full-screen bg-dark-gray ipad-top-space-margin position-relative section-dark md-h-auto" style="background-image: url('images/demo-hosting-home-bg.jpg')"> 
		<div id="particles-style-01" class="h-100 position-absolute left-0px top-0 w-100" data-particle="true" data-particle-options='{"particles": {"number": {"value": 12,"density": {"enable": true,"value_area": 2000}},"color": {"value": ["#80CBD8", "#80CBD8", "#80CBD8", "#80CBD8"]},"shape": {"type": "edge","stroke":{"width":0,"color":"#000000"}},"opacity": {"value": 0.8,"random": false,"anim": {"enable": false,"speed": 1,"sync": false}},"size": {"value": 5,"random": true,"anim": {"enable": false,"sync": true}},"line_linked":{"enable":false,"distance":0,"color":"#ffffff","opacity":0.4,"width":1},"move": {"enable": true,"speed":1,"direction": "right","random": false,"straight": false}},"interactivity": {"detect_on": "canvas","events": {"onhover": {"enable": false,"mode": "repulse"},"onclick": {"enable": false,"mode": "push"},"resize": true}},"retina_detect": false}'></div>
		<div class="container h-100">
			<div class="row align-items-center justify-content-center h-100">
				<div class="col-xl-7 col-lg-8 col-md-10 text-white position-relative text-center text-lg-start">  
					<div class="fs-90 sm-fs-80 xs-fs-70 fw-600 mb-20px ls-minus-4px overflow-hidden">
						<div class="d-inline-block" data-anime='{ "translateY": [100, 0], "easing": "easeOutCubic", "duration": 900 }'>
							Association
							<div class="highlight-separator" data-shadow-animation="true" data-animation-delay="1500">
								Arsmeli<span><img src="images/highlight-separator.svg" alt=""></span>
							</div>
						</div>
					</div>
					<div class="fs-19 fw-300 mb-30px w-80 sm-w-100 opacity-6 d-block mx-auto mx-lg-0 overflow-hidden">
						<span class="d-inline-block lh-32 text-white" data-anime='{ "translateY": [100, 0], "easing": "easeOutCubic", "duration": 900, "delay": 300 }'>Association Retraite Sportive de Lille Métropôle</span>
					</div>
					<div class="overflow-hidden pt-5px">
						<a href="demo-hosting-hosting.html" class="btn btn-extra-large btn-yellow btn-rounded btn-box-shadow btn-switch-text d-inline-block me-15px xs-m-10px align-middle fw-600" data-anime='{ "translateY": [100, 0], "easing": "easeOutCubic", "duration": 900, "delay": 500 }'>
							<span>
								<span class="btn-double-text" data-text="Get started">En savoir plus ?</span>
								<span><i class="feather icon-feather-arrow-right"></i></span>
							</span>
						</a>
						<div class="text-white fs-15 d-inline-block last-paragraph-no-margin align-middle" data-anime='{ "translateY": [100, 0], "easing": "easeOutCubic", "duration": 900, "delay": 700 }'>
							<p class="opacity-6 ls-minus-05px d-inline-block">Toute l'année, l'Arsmeli propose à ses adhérents  des activités sportives et ludiques à l'extérieur ou en salle</p> 
							<span class="fw-500 d-inline-block "></span>
						</div>
					</div>
				</div>
				<div class="col-xl-5 col-lg-4">
					<div class="position-relative" data-anime='{ "opacity": [0, 1], "translateY": [100, 0], "easing": "easeOutQuad", "duration": 1200, "delay": 200 }'>
						<img class="w-100" src="{{ customAsset('app/home/images/main_home.jpg')}}" alt="">
						{# <img class="w-100 position-absolute left-minus-2px top-minus-5px animation-float" src="https://via.placeholder.com/724x792" alt=""> #}
					</div>
				</div>
			</div> 
		</div>
	</section>
	<!-- end banner -->
	<!-- start section -->
	<section class="bg-very-light-gray pt-20px pb-20px sm-pt-40px" data-anime='{ "opacity": [0, 1], "translateY": [0, 0], "easing": "easeOutQuad", "duration": 1000,"staggervalue": 300, "delay": 600 }'>
		<div class="container overlap-section">
			<div class="row justify-content-center overlap-section border-radius-6px overflow-hidden g-0 box-shadow-extra-large">
				<div class="col-lg-9 text-center fw-600 fs-24 lg-fs-22 ls-minus-05px text-dark-gray bg-white p-30px md-p-20px"><a href="demo-hosting-domain.html" class="fw-700 text-base-color text-decoration-line-bottom-medium">Nous rejoindre  ?</a>Contactez-nous</div>
				<div class="col-lg-3 text-center bg-yellow pt-30px pb-30px md-p-20px"><a href="demo-hosting-pricing.html" class="fw-700 text-dark-gray text-dark-gray-hover fs-24 lg-fs-20 ls-minus-05px">ICI<i class="feather icon-feather-arrow-right ms-5px"></i></a></div>
			</div>
		</div>
	</section>
	<!-- end section -->
	<!-- start page title -->
	<section class="pb-0 ipad-top-space-margin md-pt-0">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-12 col-xl-6 col-lg-8 text-center position-relative page-title-double-large">
					<div class="d-flex flex-column justify-content-center extra-very-small-screen">
						<h1 class="text-dark-gray alt-font ls-minus-1px fw-700">Actualités</h1>
						<h2 class="text-dark-gray d-inline-block fw-400 ls-0px w-80 xs-w-100 mx-auto">Prochains évènements</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end page title -->
	<!-- start section -->
	<section class="pt-0 ps-10 pe-10 xl-ps-2 xl-pe-2 sm-mx-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<ul class="blog-date blog-wrapper grid-loading grid grid-3col xl-grid-3col lg-grid-2col md-grid-2col sm-grid-1col xs-grid-1col gutter-extra-large">
						<li class="grid-sizer"></li>
						<!-- start blog item -->
						<li class="grid-item">
							<div class="feature-box border-radius-10px feature-box-left-icon bg-white box-shadow-extra-large box-shadow-extra-large-hover p-11 last-paragraph-no-margin">
								<div class="feature-box-icon">
									<time class="text-center post-date border-radius-3px bg-dark-gray text-white text-uppercase fw-500 d-inline-block">
										<span class="date d-block fs-30 lh-28">28</span>
										<span class="month d-block lh-24">Jun</span>
									</time>
								</div>
								<div class="feature-box-content">
									<div class="alt-font fs-13 lh-24 text-uppercase mb-5px d-inline-block text-gradient-sky-blue-pink fw-700">By <a href="blog-masonry.html">Andy glamer</a></div>
									<a href="demo-web-agency-blog-single-creative.html" class="card-title text-dark-gray text-dark-gray-hover mb-10px fs-18 lh-28 fw-600 d-block">Leopard is an animal my designs come from nature.</a>
									<p>Lorem ipsum been the industry way standard dummy text...</p>
								</div>
							</div>
						</li>
						<!-- end blog item -->
						<!-- start blog item -->
						<li class="grid-item">
							<div class="feature-box border-radius-10px feature-box-left-icon bg-white box-shadow-extra-large box-shadow-extra-large-hover p-11 last-paragraph-no-margin">
								<div class="feature-box-icon">
									<time class="text-center post-date border-radius-3px bg-dark-gray text-white text-uppercase fw-500 d-inline-block">
										<span class="date d-block fs-30 lh-28">26</span>
										<span class="month d-block lh-24">Jun</span>
									</time>
								</div>
								<div class="feature-box-content">
									<div class="alt-font fs-13 lh-24 text-uppercase mb-5px d-inline-block text-gradient-sky-blue-pink fw-700">By <a href="blog-masonry.html">Walton smith</a></div>
									<a href="demo-web-agency-blog-single-creative.html" class="card-title text-dark-gray text-dark-gray-hover mb-10px fs-18 lh-28 fw-600 d-block">Good work for good people good design is a language.</a>
									<p>Lorem ipsum been the industry way standard dummy text...</p>
								</div>
							</div>
						</li>
						<!-- end blog item -->
						<!-- start blog item -->
						<li class="grid-item">
							<div class="feature-box border-radius-10px feature-box-left-icon bg-white box-shadow-extra-large box-shadow-extra-large-hover p-11 last-paragraph-no-margin">
								<div class="feature-box-icon">
									<time class="text-center post-date border-radius-3px bg-dark-gray text-white text-uppercase fw-500 d-inline-block">
										<span class="date d-block fs-30 lh-28">24</span>
										<span class="month d-block lh-24">Jun</span>
									</time>
								</div>
								<div class="feature-box-content">
									<div class="alt-font fs-13 lh-24 text-uppercase mb-5px d-inline-block text-gradient-sky-blue-pink fw-700">By <a href="blog-masonry.html">Bill gardner</a></div>
									<a href="demo-web-agency-blog-single-creative.html" class="card-title text-dark-gray text-dark-gray-hover mb-10px fs-18 lh-28 fw-600 d-block">Everything is designed things are good designed.</a>
									<p>Lorem ipsum been the industry way standard dummy text...</p>
								</div>
							</div>
						</li>
						<!-- end blog item -->
						<!-- start blog item -->
						<li class="grid-item">
							<div class="feature-box border-radius-10px feature-box-left-icon bg-white box-shadow-extra-large box-shadow-extra-large-hover p-11 last-paragraph-no-margin">
								<div class="feature-box-icon">
									<time class="text-center post-date border-radius-3px bg-dark-gray text-white text-uppercase fw-500 d-inline-block">
										<span class="date d-block fs-30 lh-28">22</span>
										<span class="month d-block lh-24">Jun</span>
									</time>
								</div>
								<div class="feature-box-content">
									<div class="alt-font fs-13 lh-24 text-uppercase mb-5px d-inline-block text-gradient-sky-blue-pink fw-700">By <a href="blog-masonry.html">Vico magistre</a></div>
									<a href="demo-web-agency-blog-single-creative.html" class="card-title text-dark-gray text-dark-gray-hover mb-10px fs-18 lh-28 fw-600 d-block">Reason and judgment are the qualities of a leader.</a>
									<p>Lorem ipsum been the industry way standard dummy text...</p>
								</div>
							</div>
						</li>
						<!-- end blog item -->
					</ul>
				</div>
				<div class="col-12 mt-4 d-flex justify-content-center">
					<ul class="pagination pagination-style-01 fs-13 fw-500 mb-0">
						<li class="page-item"><a class="page-link" href="#"><i class="feather icon-feather-arrow-left fs-18 d-xs-none"></i></a></li>
						<li class="page-item"><a class="page-link" href="#">01</a></li>
						<li class="page-item active"><a class="page-link" href="#">02</a></li>
						<li class="page-item"><a class="page-link" href="#">03</a></li>
						<li class="page-item"><a class="page-link" href="#">04</a></li>
						<li class="page-item"><a class="page-link" href="#"><i class="feather icon-feather-arrow-right fs-18 d-xs-none"></i></a></li>
					</ul>
				</div> 
			</div>
		</div>
	</section>
	<!-- end section -->
	<!-- start section --> 
	<section class="overflow-hidden">
		<div class="container">
			<div class="row align-items-center justify-content-center mb-6 sm-mb-50px position-relative">
				<div class="col-lg-6 col-md-10 position-relative md-mb-30px" data-anime='{ "effect": "slide", "color": "#ffffff", "direction":"lr", "easing": "easeOutQuad", "delay":50}'> 
					<img class="w-100" src="{{ customAsset('app/home/images/actu_1.jpg')}}" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)" alt="">
				</div>
				<div class="col-lg-5 offset-lg-1 last-paragraph-no-margin" data-anime='{ "el": "childs", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 900, "delay": 300, "easing": "easeOutCirc" }'>
					<span class="text-base-color fw-600 mb-15px text-uppercase d-block">Actualités</span>
					<h2 class="fw-600 text-dark-gray w-90 lg-w-100 text-dark-gray fw-700 ls-minus-2px">Zoom</h2>
					<p class="w-90 sm-w-100">La flamme olympique est venue rendre visite à l'Arsméli...</p>
					<ul class="p-0 mb-25px mt-15px list-style-01 w-90 lg-w-100">
						{# <li class="border-color-extra-medium-gray fw-600 text-dark-gray d-flex align-items-center pt-15px pb-15px">
							<div class="feature-box-icon feature-box-icon-rounded w-35px h-35px rounded-circle bg-solitude-blue me-10px text-center d-flex align-items-center justify-content-center flex-shrink-0"><i class="fa-solid fa-check fs-13 text-base-color"></i></div>
							Get 30% discount qualifying purchases.
						</li>
						<li class="border-color-extra-medium-gray fw-600 text-dark-gray d-flex align-items-center pt-15px pb-15px">
							<div class="feature-box-icon feature-box-icon-rounded w-35px h-35px rounded-circle bg-solitude-blue me-10px text-center d-flex align-items-center justify-content-center flex-shrink-0"><i class="fa-solid fa-check fs-13 text-base-color"></i></div>
							Grow and connect with developers.
						</li> #}
					</ul>
					<a href="demo-hosting-pricing.html" class="btn btn-large btn-dark-gray btn-box-shadow btn-rounded btn-switch-text" tyle="margin-top:20px;">
						<span>
							<span class="btn-double-text" data-text="Lowest pricing">Portfolio</span>
							<span><i class="feather icon-feather-arrow-right"></i></span>
						</span>
					</a>
				</div> 
			</div>
			{# <div class="row align-items-center justify-content-center border border-color-extra-medium-gray border-radius-100px md-border-radius-6px p-50px lg-p-20px m-0 box-shadow-quadruple-large" data-bottom-top="transform:scale(1.1, 1.1) translateY(30px);" data-top-bottom="transform:scale(1, 1) translateY(-30px);">  
				<!-- start process step item -->
				<div class="col-lg-4 col-md-6 process-step-style-07 position-relative md-mb-30px">
					<div class="process-step-item d-flex align-items-center">
						<div class="process-step-icon-wrap position-relative">
							<div class="process-step-icon d-flex justify-content-center align-items-center mx-auto rounded-circle h-60px w-60px bg-base-color fs-17 fw-500">
								<span class="number position-relative z-index-1 text-white">01</span> 
							</div>  
						</div>
						<div class="process-content ps-20px last-paragraph-no-margin">
							<span class="d-block fw-600 text-dark-gray fs-17 ls-minus-05px alt-font">Choose a hosting plan</span>
							<p>Lorem ipsum simply printing</p>
						</div>
					</div> 
				</div>
				<!-- end process step item --> 
				<!-- start process step item -->
				<div class="col-lg-4 col-md-6 process-step-style-07 position-relative md-mb-30px">
					<div class="process-step-item d-flex align-items-center">
						<div class="process-step-icon-wrap position-relative">
							<div class="process-step-icon d-flex justify-content-center align-items-center mx-auto rounded-circle h-60px w-60px bg-base-color fs-17 fw-500">
								<span class="number position-relative z-index-1 text-white">02</span> 
							</div>  
						</div>
						<div class="process-content ps-20px last-paragraph-no-margin">
							<span class="d-block fw-600 text-dark-gray fs-17 ls-minus-05px alt-font">Select a domain name</span>
							<p>Lorem ipsum simply printing</p>
						</div>
					</div> 
				</div>
				<!-- end process step item --> 
				<!-- start process step item -->
				<div class="col-lg-4 col-md-6 process-step-style-07 position-relative">
					<div class="process-step-item d-flex align-items-center">
						<div class="process-step-icon-wrap position-relative">
							<div class="process-step-icon d-flex justify-content-center align-items-center mx-auto rounded-circle h-60px w-60px bg-base-color fs-17 fw-500">
								<span class="number position-relative z-index-1 text-white">03</span> 
							</div>  
						</div>
						<div class="process-content ps-20px last-paragraph-no-margin">
							<span class="d-block fw-600 text-dark-gray fs-17 ls-minus-05px alt-font">Upload your website</span>
							<p>Lorem ipsum simply printing</p>
						</div>
					</div> 
				</div>
				<!-- end process step item --> 
			</div> #}
		</div>
	</section>
	<!-- end section -->
	<!-- start section -->
	<section class="cover-background section-dark bg-midnight-dark-blue" style="background-image: url('images/demo-hosting-home-02.png')" data-0-top="background-color:rgb(25,30,61);" data-center-bottom="background-color:rgb(14,16,29);">
		<div class="container"> 
			<div class="row justify-content-center mb-3">
				<div class="col-lg-8 text-center" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 900, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
					<span class="text-white opacity-5 mb-5px text-uppercase d-block">Qui sommes-nous ?</span>
					<h2 class="text-white fw-700 ls-minus-1px">Le bureau</h2>
				</div>
			</div>
			<div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 justify-content-center ps-8 pe-8 lg-px-0" data-anime='{ "el": "childs", "translateY": [30, 0], "scale":[0.8,1], "opacity": [0,1], "duration": 500, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
				<!-- start features box item -->
				<div class="col icon-with-text-style-04 transition-inner-all mb-30px">
					<div class="feature-box hover-box h-100 transition light-hover border-radius-6px p-18 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
						<div class="feature-box-icon">
							<i class="line-icon-URL-Window icon-extra-large text-white mb-15px"></i>
						</div>
						<div class="feature-box-content">
							<span class="d-inline-block text-white fw-500 lh-24">Domain name<br>generator</span> 
						</div>
						<div class="feature-box-overlay bg-white"></div>
					</div>  
				</div>
				<!-- end features box item -->
				<!-- start features box item -->
				<div class="col icon-with-text-style-04 transition-inner-all mb-30px">
					<div class="feature-box hover-box h-100 transition light-hover border-radius-6px p-18 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
						<div class="feature-box-icon">
							<i class="line-icon-Cloud-Email icon-extra-large text-white mb-15px"></i>
						</div>
						<div class="feature-box-content">
							<span class="d-inline-block text-white fw-500 lh-24">SQL server<br>hosting</span> 
						</div>
						<div class="feature-box-overlay bg-white"></div>
					</div>  
				</div>
				<!-- end features box item -->
				<!-- start features box item -->
				<div class="col icon-with-text-style-04 transition-inner-all mb-30px">
					<div class="feature-box hover-box h-100 transition light-hover border-radius-6px p-18 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
						<div class="feature-box-icon">
							<i class="line-icon-Network-Window icon-extra-large text-white mb-15px"></i>
						</div>
						<div class="feature-box-content">
							<span class="d-inline-block text-white fw-500 lh-24">Cheap web<br>hosting</span> 
						</div>
						<div class="feature-box-overlay bg-white"></div>
					</div>  
				</div>
				<!-- end features box item -->
				<!-- start features box item -->
				<div class="col icon-with-text-style-04 transition-inner-all mb-30px">
					<div class="feature-box hover-box h-100 transition light-hover border-radius-6px p-18 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
						<div class="feature-box-icon">
							<i class="line-icon-Envelope icon-extra-large text-white mb-15px"></i>
						</div>
						<div class="feature-box-content">
							<span class="d-inline-block text-white fw-500 lh-24">Website email<br>hosting</span> 
						</div>
						<div class="feature-box-overlay bg-white"></div>
					</div>  
				</div>
				<!-- end features box item -->
				<!-- start features box item -->
				<div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
					<div class="feature-box hover-box h-100 transition light-hover border-radius-6px p-18 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
						<div class="feature-box-icon">
							<i class="line-icon-Wordpress icon-extra-large text-white mb-15px"></i>
						</div>
						<div class="feature-box-content">
							<span class="d-inline-block text-white fw-500 lh-24">WordPress<br>installation</span> 
						</div>
						<div class="feature-box-overlay bg-white"></div>
					</div>  
				</div>
				<!-- end features box item -->
				<!-- start features box item -->
				<div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
					<div class="feature-box hover-box h-100 transition light-hover border-radius-6px p-18 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
						<div class="feature-box-icon">
							<i class="line-icon-Big-Data icon-extra-large text-white mb-15px"></i>
						</div>
						<div class="feature-box-content">
							<span class="d-inline-block text-white fw-500 lh-24">Game server<br>hosting</span> 
						</div>
						<div class="feature-box-overlay bg-white"></div>
					</div>  
				</div>
				<!-- end features box item -->
				<!-- start features box item -->
				<div class="col icon-with-text-style-04 transition-inner-all xs-mb-30px">
					<div class="feature-box hover-box h-100 transition light-hover border-radius-6px p-15 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
						<div class="feature-box-icon">
							<i class="line-icon-Data-Password icon-extra-large text-white mb-15px"></i>
						</div>
						<div class="feature-box-content">
							<span class="d-inline-block text-white fw-500 lh-24">VPS server<br>hosting</span> 
						</div>
						<div class="feature-box-overlay bg-white"></div>
					</div>  
				</div>
				<!-- end features box item -->
				<!-- start features box item -->
				<div class="col icon-with-text-style-04 transition-inner-all">
					<div class="feature-box hover-box h-100 transition light-hover border-radius-6px p-18 xs-p-12 last-paragraph-no-margin overflow-hidden border border-1 box-shadow-quadruple-large-hover border-color-transparent-white-light border-color-transparent-on-hover">
						<div class="feature-box-icon">
							<i class="line-icon-Globe icon-extra-large text-white mb-15px"></i>
						</div>
						<div class="feature-box-content">
							<span class="d-inline-block text-white fw-500 lh-24">Free website<br>hosting</span> 
						</div>
						<div class="feature-box-overlay bg-white"></div>
					</div>  
				</div>
				<!-- end features box item -->
			</div>
			<div class="row justify-content-center mt-6">
				<div class="col-auto icon-with-text-style-08 sm-mb-10px" data-anime='{ "translateX": [-50, 0], "opacity": [0,1], "duration": 900, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
					<div class="feature-box feature-box-left-icon-middle">
						<div class="feature-box-icon me-10px">
							<i class="bi bi-envelope icon-small text-yellow"></i>
						</div>
						<div class="feature-box-content">
							<span class="alt-font text-white fs-18">Looking for help? <a href="#" class="text-decoration-line-bottom text-white fw-500">Submit a ticket</a></span>
						</div>
					</div>
				</div>
				<div class="col-auto icon-with-text-style-08" data-anime='{ "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
					<div class="feature-box feature-box-left-icon-middle">
						<div class="feature-box-icon me-10px">
							<i class="bi bi-chat-dots icon-small text-yellow"></i>
						</div>
						<div class="feature-box-content">
							<span class="alt-font text-white fs-18">Keep in Touch. <a href="#" class="text-decoration-line-bottom text-white fw-500">Like us on Facebook</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end section -->
	<!-- start section -->
	{# <section class="pb-0">
		<div class="container"> 
			<div class="row justify-content-center mb-3">
				<div class="col-lg-8 text-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
					<span class="text-base-color fw-600 mb-5px text-uppercase d-block">Pricing plans</span>
					<h2 class="fw-600 text-dark-gray text-dark-gray fw-700 ls-minus-2px">Hosting plans</h2>
				</div>
			</div>
			<div class="row align-items-center justify-content-center mb-6 md-mb-8">
				<!-- start pricing item -->
				<div class="col-lg-4 col-md-8 pricing-table-style-08 md-mb-30px" data-anime='{ "translateX": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
					<!-- start pricing table --> 
					<div class="pricing-table text-center pt-16 pb-35px bg-white box-shadow-quadruple-large border-radius-6px">
						<div class="pricing-header ps-18 pe-18 md-ps-12 md-pe-12">
							<div class="d-inline-block fs-12 text-uppercase bg-white ps-20px pe-20px fw-600 text-dark-gray mb-30px border-radius-100px box-shadow-large border border-1 border-color-extra-medium-gray">Standard</div>
							<h2 class="text-dark-gray fw-600 mb-10px ls-minus-3px"><sup class="fs-30">$</sup>250</h2>
							<p class="mb-25px lh-28">All the basics for businesses that are just getting started.</p>
							<a href="demo-hosting-pricing.html" class="btn btn-large btn-dark-gray btn-round-edge btn-switch-text btn-box-shadow">
								<span>
									<span class="btn-double-text" data-text="Choose package">Choose package</span>
								</span>
							</a>
							<span class="fs-13 w-100 d-block mt-5px">Monthly billing</span>
						</div>
						<div class="pricing-body pt-15px pb-25px">
							<ul class="list-style-01 ps-0 mb-0">
								<li class="border-color-transparent-dark-very-light pt-10px pb-10px">Unlimited bandwidth</li>
								<li class="border-color-transparent-dark-very-light pt-10px pb-10px"><span class="opacity-6">Full backup systems</span></li>
								<li class="border-color-transparent-dark-very-light border-bottom pt-10px pb-10px"><span class="opacity-6">Unlimited database</span></li> 
							</ul>
						</div>
						<div class="pricing-footer">
							<a href="demo-hosting-pricing.html" class="text-decoration-line-bottom d-inline-block text-dark-gray fw-500 ls-minus-05px">Get your 30 day free trial</a>
						</div>
					</div>
				</div>
				<!-- end pricing item -->
				<!-- start pricing item -->
				<div class="col-lg-4 col-md-8 pricing-table-style-08 md-mb-30px" data-anime='{ "translateX": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
					<!-- start pricing table --> 
					<div class="pricing-table text-center pt-16 pb-35px bg-white box-shadow-quadruple-large border-radius-6px">
						<div class="pricing-header ps-18 pe-18 md-ps-12 md-pe-12">
							<div class="d-inline-block fs-12 text-uppercase bg-white ps-20px pe-20px fw-600 text-dark-gray mb-30px border-radius-100px box-shadow-large border border-1 border-color-extra-medium-gray">Business</div>
							<h2 class="text-dark-gray fw-600 mb-10px ls-minus-3px"><sup class="fs-30">$</sup>350</h2>
							<p class="mb-25px lh-28">All the basics for businesses that are just getting started.</p>
							<a href="demo-hosting-pricing.html" class="btn btn-large btn-yellow btn-round-edge btn-switch-text btn-box-shadow">
								<span>
									<span class="btn-double-text" data-text="Choose package">Choose package</span>
								</span>
							</a>
							<span class="fs-13 w-100 d-block mt-5px">Monthly billing</span>
						</div>
						<div class="pricing-body pt-15px pb-25px">
							<ul class="list-style-01 ps-0 mb-0">
								<li class="border-color-transparent-dark-very-light pt-10px pb-10px">Unlimited bandwidth</li>
								<li class="border-color-transparent-dark-very-light pt-10px pb-10px">Full backup systems</li>
								<li class="border-color-transparent-dark-very-light border-bottom pt-10px pb-10px"><span class="opacity-6">Unlimited database</span></li> 
							</ul>
						</div>
						<div class="pricing-footer">
							<a href="demo-hosting-pricing.html" class="text-decoration-line-bottom d-inline-block text-dark-gray fw-500 ls-minus-05px">Get your 30 day free trial</a>
						</div>
					</div>
				</div>
				<!-- end pricing item -->
				<!-- start pricing item -->
				<div class="col-lg-4 col-md-8 pricing-table-style-08" data-anime='{ "translateX": [-50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
					<!-- start pricing table --> 
					<div class="pricing-table text-center pt-16 pb-35px bg-white box-shadow-quadruple-large border-radius-6px">
						<div class="pricing-header ps-18 pe-18 md-ps-12 md-pe-12">
							<div class="d-inline-block fs-12 text-uppercase bg-white ps-20px pe-20px fw-600 text-dark-gray mb-30px border-radius-100px box-shadow-large border border-1 border-color-extra-medium-gray">Ultimate</div>
							<h2 class="text-dark-gray fw-600 mb-10px ls-minus-3px"><sup class="fs-30">$</sup>450</h2>
							<p class="mb-25px lh-28">All the basics for businesses that are just getting started.</p>
							<a href="demo-hosting-pricing.html" class="btn btn-large btn-dark-gray btn-round-edge btn-switch-text btn-box-shadow">
								<span>
									<span class="btn-double-text" data-text="Choose package">Choose package</span>
								</span>
							</a>
							<span class="fs-13 w-100 d-block mt-5px">Monthly billing</span>
						</div>
						<div class="pricing-body pt-15px pb-25px">
							<ul class="list-style-01 ps-0 mb-0">
								<li class="border-color-transparent-dark-very-light pt-10px pb-10px">Unlimited bandwidth</li>
								<li class="border-color-transparent-dark-very-light pt-10px pb-10px">Full backup systems</li>
								<li class="border-color-transparent-dark-very-light border-bottom pt-10px pb-10px">Unlimited database</li> 
							</ul>
						</div>
						<div class="pricing-footer">
							<a href="demo-hosting-pricing.html" class="text-decoration-line-bottom d-inline-block text-dark-gray fw-500 ls-minus-05px">Get your 30 day free trial</a>
						</div>
					</div>
				</div>
				<!-- end pricing item -->  
			</div>
			<div class="row" data-anime='{ "translateX": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
				<div class="col-12 text-center">
					<div class="bg-dark-gray fw-600 text-white text-uppercase border-radius-30px ps-20px pe-20px fs-12 me-10px xs-m-5px d-inline-block align-middle">Limited offer</div>
					<div class="text-dark-gray fw-500 d-inline-block align-middle ls-minus-05px fs-18">Save 20% on annual plans. <a href="demo-hosting-pricing.html" class="text-decoration-line-bottom text-dark-gray d-inline-block">Explore pricing plans<span class="bg-dark-gray"></span></a></div>
				</div>
			</div>
		</div>
	</section> #}
	<!-- end section -->
	<!-- start section -->
	<section class="overflow-hidden">
		<div class="container">
			<div class="row align-items-center justify-content-center border-radius-8px p-4 xs-p-7 text-center text-lg-start g-0 cover-background" style="background-image: url('images/demo-hosting-home-03.jpg')" data-bottom-top="transform:scale(1.1, 1.1) translateY(30px);" data-top-bottom="transform:scale(1.0, 1.0) translateY(-30px);"> 
				<div class="col-lg-6 col-md-9 md-mb-10px icon-with-text-style-08">
					<div class="feature-box feature-box-left-icon-middle overflow-hidden">
						<div class="feature-box-icon feature-box-icon-rounded w-100px h-100px rounded-circle border border-2 border-color-transparent-white-light me-30px xs-me-25px">
							<img src="images/demo-hosting-home-icon.svg" class="w-50px h-50px" alt=""> 
						</div>
						<div class="feature-box-content last-paragraph-no-margin">
							<h5 class="d-inline-block fw-600 text-white mb-0">Faire du sport un vecteur de santé et un acte citoyen</h5> 
						</div>
					</div>
				</div>
				<div class="col-lg-6 text-center text-lg-end"> 
					<div class="text-white d-inline-block last-paragraph-no-margin me-20px xs-m-10px">
						<p class="opacity-8 d-inline-block">Nous rejoindre ?</p> 
						<span class="fw-600 d-inline-block text-decoration-line-bottom"></span>
					</div>
					<a href="#" class="btn btn-medium btn-yellow btn-rounded fw-600 btn-switch-text btn-box-shadow">
						<span>
							<span class="btn-double-text" data-text="Sign up free">Contactez-nous</span>
						</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- end section -->
	<!-- start section -->
	<section class="pt-0">
		<div class="container"> 
			<div class="row justify-content-center align-items-center mb-3">
				<div class="col-lg-7 col-md-8 sm-mb-15px" data-anime='{ "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
					<h2 class="text-dark-gray fw-700 ls-minus-1px mb-0">Have a question?</h2>
				</div>
				<div class="col-lg-3 col-md-4 text-start text-md-end" data-anime='{ "translateX": [-50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
					<span class="text-dark-gray fs-30 align-middle fancy-text-style-4 ls-minus-1px">&#128075; Say <span class="fw-600" data-fancy-text='{ "effect": "rotate", "string": ["hello!", "hallå!", "salve!"] }'></span></span>
				</div>
			</div>
			<div class="row justify-content-center"> 
				<div class="col-lg-10"> 
					<div class="accordion accordion-style-02" id="accordion-style-02" data-active-icon="icon-feather-chevron-up" data-inactive-icon="icon-feather-chevron-down" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
						<!-- start accordion item -->
						<div class="accordion-item active-accordion">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-01" aria-expanded="true" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
										<i class="feather icon-feather-chevron-up icon-extra-medium"></i><span class="fw-600 fs-18">How long is this site live?</span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-01" class="accordion-collapse collapse show" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
									<p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-02" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
										<i class="feather icon-feather-chevron-down icon-extra-medium"></i><span class="fw-600 fs-18">Can i install/upload anything is want on there?</span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-02" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
									<p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-light-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-03" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
										<i class="feather icon-feather-chevron-down icon-extra-medium"></i><span class="fw-600 fs-18">How can i migrate to another site?</span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-03" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
									<p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-transparent">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-04" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
										<i class="feather icon-feather-chevron-down icon-extra-medium"></i><span class="fw-600 fs-18">Can i change the domain you give me?</span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-04" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
									<p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end section -->
	<!-- start section --> 
	<section class="overflow-hidden p-0">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-xl-5 col-lg-7 col-md-8 position-relative text-center text-xl-start lg-mb-15px" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
					<span class="text-base-color fw-600 mb-15px text-uppercase d-block">Client feedback</span>
					<h3 class="alt-font fw-700 ls-minus-1px text-dark-gray mb-20px mx-auto">What do people say about our services?</h3>
					<div class="d-block mb-30px fs-18 ls-minus-05px"> 
						See our 437 reviews on <a href="#" class="align-middle position-relative top-minus-2px"><img src="https://via.placeholder.com/112x28" alt=""></a>
					</div>
					<div class="d-flex justify-content-center justify-content-xl-start">
						<!-- start slider navigation -->
						<div class="slider-one-slide-prev-1 text-dark-gray swiper-button-prev slider-navigation-style-04 border border-1 border-color-extra-medium-gray" tabindex="0" role="button" aria-label="Previous slide"><i class="fa-solid fa-arrow-left"></i></div>
						<div class="slider-one-slide-next-1 text-dark-gray swiper-button-next slider-navigation-style-04 border border-1 border-color-extra-medium-gray" tabindex="0" role="button" aria-label="Next slide"><i class="fa-solid fa-arrow-right"></i></div>
						<!-- end slider navigation -->
					</div>
				</div>
				<div class="col-xl-7 col-lg-10 overflow-hidden" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
					<div class="outside-box-right-15 xl-outside-box-right-20 sm-outside-box-right-0">
						<div class="swiper slider-one-slide slider-shadow-right sm-slider-shadow-none magic-cursor overflow-visible ps-25px sm-p-0" data-slider-options='{ "slidesPerView": 1, "spaceBetween": 40, "loop": true, "pagination": { "el": ".slider-one-slide-pagination", "clickable": true, "dynamicBullets": false }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 3000, "disableOnInteraction": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 2 }, "768": { "slidesPerView": 2 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
							<div class="swiper-wrapper pt-30px pb-30px"> 
								<!-- start review item -->
								<div class="swiper-slide review-style-06"> 
									<div class="d-flex justify-content-center h-100 flex-column bg-white box-shadow-medium p-45px md-p-35px border-radius-6px last-paragraph-no-margin">
										<div class="mb-20px d-flex align-items-center">
											<img class="rounded-circle w-90px h-90px me-20px" src="https://via.placeholder.com/125x125" alt="">
											<div class="d-inline-block align-middle last-paragraph-no-margin">
												<div class="alt-font text-dark-gray fw-600 fs-18">Herman Miller</div>
												<p class="lh-24 d-block">Digital marketer</p>
											</div>
											<div class="border-radius-30px bg-yellow ps-15px pe-15px fs-14 fw-700 text-dark-gray d-inline-block align-middle ms-auto md-position-absolute md-right-15px md-top-15px"><i class="fa-solid fa-star me-5px"></i>5.0</div>
										</div>
										<p>We help our clients succeed by creating brand identities, digital experiences, and print materials that communicate.</p>
									</div>
								</div>
								<!-- end review item -->
								<!-- start review item -->
								<div class="swiper-slide review-style-06"> 
									<div class="d-flex justify-content-center h-100 flex-column bg-white box-shadow-medium p-45px md-p-35px border-radius-6px last-paragraph-no-margin">
										<div class="mb-20px d-flex align-items-center">
											<img class="rounded-circle w-90px h-90px me-20px" src="https://via.placeholder.com/125x125" alt="">
											<div class="d-inline-block align-middle last-paragraph-no-margin">
												<div class="alt-font text-dark-gray fw-600 fs-18">Alexander Harad</div>
												<p class="lh-24 d-block">Digital marketer</p>
											</div>
											<div class="border-radius-30px bg-yellow ps-15px pe-15px fs-14 fw-700 text-dark-gray d-inline-block align-middle ms-auto md-position-absolute md-right-15px md-top-15px"><i class="fa-solid fa-star me-5px"></i>4.5</div>
										</div>
										<p>They have provided superior quality of content marketing services. Very satisfied by choosing them. Thank you!</p>
									</div>
								</div> 
								<!-- end review item -->
								<!-- start review item -->
								<div class="swiper-slide review-style-06"> 
									<div class="d-flex justify-content-center h-100 flex-column bg-white box-shadow-medium p-45px md-p-35px border-radius-6px last-paragraph-no-margin">
										<div class="mb-20px d-flex align-items-center">
											<img class="rounded-circle w-90px h-90px me-20px" src="https://via.placeholder.com/125x125" alt="">
											<div class="d-inline-block align-middle last-paragraph-no-margin">
												<div class="alt-font text-dark-gray fw-600 fs-18">Shoko Mugikura</div>
												<p class="lh-24 d-block">Digital marketer</p>
											</div>
											<div class="border-radius-30px bg-yellow ps-15px pe-15px fs-14 fw-700 text-dark-gray d-inline-block align-middle ms-auto md-position-absolute md-right-15px md-top-15px"><i class="fa-solid fa-star me-5px"></i>5.0</div>
										</div>
										<p>We help our clients succeed by creating brand identities, digital experiences, and print materials that communicate.</p>
									</div>
								</div>
								<!-- end review item -->
								<!-- start review item -->
								<div class="swiper-slide review-style-06"> 
									<div class="d-flex justify-content-center h-100 flex-column bg-white box-shadow-medium p-45px md-p-35px border-radius-6px last-paragraph-no-margin">
										<div class="mb-20px d-flex align-items-center">
											<img class="rounded-circle w-90px h-90px me-20px" src="https://via.placeholder.com/125x125" alt="">
											<div class="d-inline-block align-middle last-paragraph-no-margin">
												<div class="alt-font text-dark-gray fw-600 fs-18">Jacob Kalling</div>
												<p class="lh-24 d-block">Digital marketer</p>
											</div>
											<div class="border-radius-30px bg-yellow ps-15px pe-15px fs-14 fw-700 text-dark-gray d-inline-block align-middle ms-auto md-position-absolute md-right-15px md-top-15px"><i class="fa-solid fa-star me-5px"></i>5.0</div>
										</div>
										<p>We help our clients succeed by creating brand identities, digital experiences, and print materials that communicate.</p>
									</div>
								</div> 
								<!-- end review item --> 
							</div>  
						</div> 
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end section -->
	<!-- start section -->
	<section class="pt-4">
		<div class="container"> 
			<div class="row position-relative clients-style-08" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
				<div class="col swiper text-center feather-shadow" data-slider-options='{ "slidesPerView": 2, "spaceBetween":0, "speed": 4000, "loop": true, "pagination": { "el": ".slider-four-slide-pagination-2", "clickable": false }, "allowTouchMove": false, "autoplay": { "delay":0, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-four-slide-next-2", "prevEl": ".slider-four-slide-prev-2" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView": 4 }, "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 2 } }, "effect": "slide" }'>
					<div class="swiper-wrapper marquee-slide">
						<!-- start client item -->
						<div class="swiper-slide">
							<a href="#"><img src="images/logo-envato.svg" class="h-40px xs-h-30px" alt="" /></a>
						</div>
						<!-- end client item -->
						<!-- start client item -->
						<div class="swiper-slide">
							<a href="#"><img src="images/logo-pingdom.svg" class="h-40px xs-h-30px" alt="" /></a>
						</div>
						<!-- end client item -->
						<!-- start client item -->
						<div class="swiper-slide">
							<a href="#"><img src="images/logo-paypal.svg" class="h-40px xs-h-30px" alt="" /></a>
						</div>
						<!-- end client item -->
						<!-- start client item -->
						<div class="swiper-slide">
							<a href="#"><img src="images/logo-walmart.svg" class="h-40px xs-h-30px" alt="" /></a>
						</div>
						<!-- end client item -->
						<!-- start client item -->
						<div class="swiper-slide">
							<a href="#"><img src="images/logo-amazon.svg" class="h-40px xs-h-30px" alt="" /></a>
						</div>
						<!-- end client item -->
						<!-- start client item -->
						<div class="swiper-slide">
							<a href="#"><img src="images/logo-logitech.svg" class="h-40px xs-h-30px" alt="" /></a>
						</div>
						<!-- end client item -->
						<!-- start client item -->
						<div class="swiper-slide">
							<a href="#"><img src="images/logo-envato.svg" class="h-40px xs-h-30px" alt="" /></a>
						</div>
						<!-- end client item -->
						<!-- start client item -->
						<div class="swiper-slide">
							<a href="#"><img src="images/logo-pingdom.svg" class="h-40px xs-h-30px" alt="" /></a>
						</div>
						<!-- end client item -->
					</div> 
				</div>
			</div>
		</div>
	</section>
	<!-- end section -->
       

	<!-- start footer -->
	{% include 'partials/_footer.html.twig' %}
	<!-- end footer -->

	<!-- start subscription popup -->
		<div id="subscribe-popup" class="mfp-hide subscribe-popup"> <div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-9 col-md-10 bg-white">
					<div class="row position-relative box-shadow-quadruple-large">
						<div class="col-lg-6 background contain-background background-no-repeat background-position-left md-h-600px xs-h-400px" style="background-image:url('{{ customAsset('app/menu-jour.jpg')}}');"></div>

						<div
							class="col-lg-6 newsletter-popup p-8 pt-10 pb-10 lg-p-5 md-p-6 xs-p-8 position-relative">
							{# <span class="fs-15 fw-600 text-red text-uppercase mb-10px d-block" style=""></span></br> #}
							<span class="fs-15 fw-600 text-red text-uppercase mb-10px d-block" style="">Aujourd'hui</br>
							Ouvert de 11h à 15h et de 18h à 23h</span>
						<h2 class="d-inline-block alt-font text-dark-gray mb-20px">La chef propose</h2>
						<div class="d-inline-block w-100 newsletter-style-05 position-relative mb-20px">
							<form
								action="email-templates/subscribe-newsletter.php" method="post">
								{# <input class="input-medium w-100 border-radius-4px form-control required mb-15px" type="email" name="email" placeholder="Recevez notre news letter"/> #}
								<input type="hidden" name="redirect" value="">
								<button type="submit" aria-label="submit" class="btn btn-medium btn-round-edge btn-dark-gray btn-box-shadow w-100 submit">
									<span>
										<span>
											<i class="feather icon-feather-calendar"></i>
										</span>
										<span class="btn-double-text" data-text="Réserver une table">Réserver une
																																	table</span>
									</span>
								</button>
								<div class="form-results border-radius-4px mt-10px lh-normal pt-10px pb-10px ps-15px pe-15px fs-16 w-100 text-center position-absolute z-index-1 d-none"></div>
							</form>
						</div>
						{# <label for="newsletter-off" class="fs-15"><input class="w-auto me-10px position-relative top-1px p-0" type="checkbox" id="newsletter-off" name="newsletter-off">Don't show this popup again</label> #}
					</div>
					<button title="Close (Esc)" type="button" class="mfp-close text-dark-gray"></button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end subscription popup -->

<!-- start scroll progress -->
<div class="scroll-progress d-none d-xxl-block">
	<a href="#" class="scroll-top" aria-label="scroll">
		<span class="scroll-text">
			<i class="fa-solid fa-arrow-down-long align-middle icon-large text-base-color"></i>
		</span>
		<span class="scroll-line">
			<span class="scroll-point"></span>
		</span>
	</a>
</div>
<!-- end scroll progress -->{% endblock %}{% block baseJavascripts %}
{% block importmap %}
	{{ importmap(['app', 'home']) }}
{% endblock %}{% endblock %}
