.feature-box-icon{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.preformatted{
    white-space: pre-line;
}

.card{
    width: 370px;
}