.feature-box-icon{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 70px;
    border-radius: 50%;
}
.card{
    width: 320px;
}
.card-title{
    font-size:18px;
}