.card{
    width: 320px;
}
.card-activity-message{
    width: 100%;
}
.card-title{
    font-size:18px;
}
.edit-administrator-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px 11px !important;
    background-color: white;
    color: var(--base-color);
    border: 1px solid var(--base-color);
}
.feature-box-icon{
    margin-top: 10px;
}
.edit-administrator-btn:hover {
    color: white;
    background-color: var(--base-color);
}
.edit-administrator-btn i{
    padding-top: 3px;
    margin-left: 0 !important;
    font-size: 21px;
}
@media only screen and (max-width: 600px) {
    .activity-card-container{
        justify-content: center;
    }
}
