#pac-container{
    min-width: 500px ;
}
#pac-card{
    background-color:#1d2f8f;
    color:white;
}
.gm-style .gm-style-iw-tc::after {
    background: white!important;
}
.blog-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image-main-container-event-form {
    margin-top: 9px;
}
.image-container-event-form{
    width: 100px;
    height: 100px;
    background-size: cover;
    border: 1px solid gray;
}
label{
    font-size: 14px;
    font-weight: 600;
}
.form-check-input:checked {
    background-color: red;
    border-color: none;
}
.form-check-input {
    background-color: green;
    border-color: none;
}
#eventFilterContainer{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom:40px;
}
#event_activityMessage{
    width: 300px;
}
#activityMessageContent{
    font-size: 14px;
    line-height: 1.2;
}
#activityMessageContentContainer{
    border-left: 3px solid var(--base-color);
    padding-left: 20px;
}
.main-section{
    background-color: #F9F6F3;
}
.activity-card{
    margin-bottom: 8%;
}
@media only screen and (max-width: 600px) {
    #eventFilterContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
}
