<div class="modal fade" id="disabledModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                
                <div>
                    <div id="currentStatusVerbatim"></div>
                    <h5 id="currentStatusQuestion" class="modal-title fs-14"></h5>
                </div>
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <div id="eventChangeStatusConfirmation" class="d-none">
                    <span class="fw-600 fs-14 text-green">Opération effectuéee</span>
                </div>
                <div id="eventChangeStatusBtn" class="d-flex justify-content-end w-250px">
                    <button type="button" class="btn btn-very-small" data-bs-dismiss="modal">Annuler</button>
                    <a id="disabledEventLink" data-current-status="" data-id="" data-path="{{ path('admin_event_change_status')}}"
                        class="btn btn-very-small btn-base-color btn-round-edge-large border-1 w-50">
                        Confirmer
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>