<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="w-100">
                    <div class="modal-title">
                        <span>
                            <a id="gmLink" class="btn btn-extra-small fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto" href="https://www.google.com/maps?q=50.650000,3.200000" target="_blank">
                            <img width="36px" src="{{ asset('app/google_maps_logo.png')}}" alt=""></a>
                        </span>
                        <span id="modalTitle" class="fs-13 ms-2 fw-600 text-dark-gray"></span>
                    </div>
                    
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>