<section class="cover-background full-screen bg-dark-gray ipad-top-space-margin position-relative section-dark md-h-auto" style="background-image: url('images/demo-hosting-home-bg.jpg')"> 
    <div id="particles-style-01" class="h-100 position-absolute left-0px top-0 w-100" data-particle="true" data-particle-options='{"particles": {"number": {"value": 12,"density": {"enable": true,"value_area": 2000}},"color": {"value": ["#ed00a8", "#ed00a8", "#ed00a8", "#ed00a8"]},"shape": {"type": "edge","stroke":{"width":0,"color":"#000000"}},"opacity": {"value": 0.8,"random": false,"anim": {"enable": false,"speed": 1,"sync": false}},"size": {"value": 5,"random": true,"anim": {"enable": false,"sync": true}},"line_linked":{"enable":false,"distance":0,"color":"#ffffff","opacity":0.4,"width":1},"move": {"enable": true,"speed":1,"direction": "right","random": false,"straight": false}},"interactivity": {"detect_on": "canvas","events": {"onhover": {"enable": false,"mode": "repulse"},"onclick": {"enable": false,"mode": "push"},"resize": true}},"retina_detect": false}'></div>
    <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-xl-7 col-lg-8 col-md-10 text-white position-relative text-center text-lg-start">  
                <div class="fs-90 sm-fs-80 xs-fs-70 fw-600 mb-20px ls-minus-4px overflow-hidden">
                    <div class="d-inline-block" data-anime='{ "translateY": [100, 0], "easing": "easeOutCubic", "duration": 900 }'>
                        association
                        <div class="highlight-separator" data-shadow-animation="true" data-animation-delay="1500">
                            Arsméli<span><img src="images/highlight-separator.svg" alt=""></span>
                        </div>
                    </div>
                </div>
                    <div class="fs-19 fw-300 mb-30px w-80 sm-w-100 opacity-6 d-block mx-auto mx-lg-0 overflow-hidden">
                    <span class="d-inline-block lh-32" data-anime='{ "translateY": [100, 0], "easing": "easeOutCubic", "duration": 900, "delay": 300 }'><strong>A</strong>ssociation de <strong>R</strong>etraite <strong>S</strong>portive de la <strong>Mé</strong>tropole <strong>L</strong>illoise</span>
                </div>
                <div class="fs-19 fw-300 mb-30px w-80 sm-w-100 opacity-6 d-block mx-auto mx-lg-0 overflow-hidden">
                    <span class="d-inline-block lh-32" data-anime='{ "translateY": [100, 0], "easing": "easeOutCubic", "duration": 900, "delay": 300 }'>Rejoignez-nous pour des aventures enrichissantes, mêlant sport, culture et convivialité, adaptées à tous les niveaux et intérêts.</span>
                </div>
                <div class="overflow-hidden pt-5px">
                    <a href="demo-hosting-hosting.html" class="btn btn-extra-large btn-yellow btn-rounded btn-box-shadow btn-switch-text d-inline-block me-15px xs-m-10px align-middle fw-600" data-anime='{ "translateY": [100, 0], "easing": "easeOutCubic", "duration": 900, "delay": 500 }'>
                        <span>
                            <span class="btn-double-text" data-text="c'est ici !">Nous rejoindre ?</span>
                            <span><i class="feather icon-feather-arrow-right"></i></span>
                        </span>
                    </a>
                    {# <div class="text-white fs-15 d-inline-block last-paragraph-no-margin align-middle" data-anime='{ "translateY": [100, 0], "easing": "easeOutCubic", "duration": 900, "delay": 700 }'>
                        <p class="opacity-6 ls-minus-05px d-inline-block">Starting at only</p> 
                        <span class="fw-500 d-inline-block ">$2.78/mo*</span>
                    </div> #}
                </div>
            </div>
            <div class="col-xl-5 col-lg-4">
                <div class="position-relative" data-anime='{ "opacity": [0, 1], "translateY": [100, 0], "easing": "easeOutQuad", "duration": 1200, "delay": 200 }'>
                    <img class="w-100" src="{{ customAsset('app/home/banner/banner.jpg')}}" alt="">
                    {# <img class="w-100 position-absolute left-minus-2px top-minus-5px animation-float" src="https://via.placeholder.com/724x792" alt=""> #}
                </div>
            </div>
        </div> 
    </div>
</section>