/* ===================================
    Crafto - Restaurant
====================================== */
/* font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;600;700;800;900&display=swap');
/* variable */
:root {     
    --base-color: #54615D;
    --medium-gray: #8d8987;
    --black: #282725;
    --dark-gray: #383632;
    --red: #D13E3D;
    --green: #46b57e;
    --very-light-gray: #f9f6f3;
    --yellow: #ECBA23;
    --alt-font: 'Bebas Neue', cursive;
    --primary-font: 'Schibsted Grotesk', sans-serif;
} 
body {
    font-size: 17px;
    line-height: 30px;
}
/* header */
header .navbar-brand img {
    max-height: 49px;
}
.navbar .navbar-nav .nav-link {
    font-size: 20px;
}
header .btn.btn-switch-text.btn-small > span {
    padding: 11px 25px 9px;
}
.sticky .header-transparent .header-button .btn { 
    background-color: var(--yellow);
}
.sticky .header-transparent .header-button .btn:hover {
    background-color: var(--base-color);
    color: var(--white);
    border-color:  var(--base-color);
}
.form-errors ul{
    padding-left: 0px;
}
.pagination .page-item .page-link{
    font-size: 14px;
    font-weight: 500;
}
.pagination-container nav ul.pagination{
    margin-bottom: 50px;
}
.form-check-input:checked {
    background-color: green;
    border-color: none;
}
.form-check-input {
    background-color: red;
    border-color: none;
}
label {
    font-size: 14px;
    font-weight: 600;
}
/* heading */
h1, .h1 {
    line-height: 4rem;
}
h2 {
    line-height: 3.2rem;
}
/* btn */
[class*="btn-transparent"], [class*=" btn-transparent"] {
    font-weight: 500;
}
.btn i {
    top: 0px;
}
.btn.btn-switch-text.btn-extra-large > span {
    font-size: 18px;
    padding: 19px 32px 16px;
}
.btn.btn-switch-text.btn-large > span {
    font-size: 17px;
    padding: 17px 28px 14px; 
}
.btn.btn-switch-text.btn-medium > span {
    font-size: 16px;
    padding: 15px 24px 12px;
}
.btn.btn-switch-text.btn-small > span {
    font-size: 14px;
    padding: 13px 20px 11px;
}
.btn.btn-switch-text.btn-very-small > span {
    font-size: 13px;
    padding: 10px 18px 7px;
}
.btn.btn-link {
    padding: 0 0 2px;
}
.btn.btn-hover-animation-switch .btn-icon i {
    font-size: 24px;
    line-height: 0;
    top: -2px;
}
.btn.btn-hover-animation-switch .btn-icon {
    margin-left: 5px;
}
/* page title */
.page-title-extra-large h1 {
    font-size: 5rem;
    line-height: 5rem;
}
.page-title-extra-large h2 {
    font-size: 15px;
    line-height: 26px;
}
/* border color */
.border-color-extra-medium-gray {
    border-color: #c7c2bf !important;
}
/* bg color transparent */
.bg-base-color-transparent {
    background: rgba(211,145,33,0.9);
}
.text-outline-base-color-background {
    -webkit-text-fill-color: var(--base-color);
}
.subscribe-popup .newsletter-style-05 .submit {
    font-size: 17px;
}
/* portfolio */
.portfolio-filter li {
    padding: 0 35px;
}
/* top right bottom left */
.top-minus-35px {
    top: -35px;
}
/* review */
.review-star-icon i {
    letter-spacing: 1px;
}
/* categories */
.categories-btn {
    line-height: 21px;
    letter-spacing: 0;
    padding: 3px 14px 4px;
}
/* blog comment */
.blog-comment li .btn-reply {
    padding: 6px 20px 7px;
}
/* footer */
footer .footer-logo img {
    max-height: 49px;
}
footer .elements-social li {
    margin: 0 22px 0 0;
}
footer .social-icon-style-08 ul li a:hover {
    opacity: 1;
}
footer .facebook{
    color:#3b5998;
}
footer .twitter {
    color: #00aced;
}
footer .elements-social ul li:last-child {
    margin-right: 0;
}
/* team style */
.team-style-05:hover img {
    filter: grayscale(100%);
}
.blog-grid .card .blog-image img {
    -webkit-border-radius: 30px 30px 0 0;
    border-radius: 30px 30px 0 0;
}
.blog-image{
    width: 100%; /* largeur de l'élément */
    height: 100vh; /* hauteur de l'élément (100% de la hauteur de la fenêtre) */
    background-size: cover; /* Ajuste l'image pour couvrir l'élément */
    background-repeat: no-repeat; /* Empêche la répétition */
    background-position: center center; /* Centrer l'image */
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.event-list-container{
    min-height: 60vh;
}
.no-matching-search-message{
    font-size:14px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}
@media (max-width: 767px) {
    .grid.gutter-extra-large li {
        padding-right: 50px;
        padding-left: 50px;
    }
}
/* Activity */
/* margin */
.mt-minus-2px {
    margin-top: -2px;
}
.main-card-container-last-event{
    height: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.main-card-container-last-event:hover{
    transform: scale(1.02); /* Légère augmentation de la taille */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Ombre pour un effet de flottement */
    cursor:pointer;
}
.main-card-container-last-event:active {
    transform: scale(0.98); /* Légère réduction de la taille lors du clic */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); /* Ombre réduite pour un effet de clic */
}
.activity-card:hover .main-card-container {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Effet d'ombre */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
}
.main-card-container {
    height: 410px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation fluide pour l'état normal */
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.2); /* Ombre légère par défaut */
}
.no-hover:hover {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
}
.flash-element{
    z-index: 99999;
    position: absolute;
    top: 105px;
    left: 50%;
    transform: translateX(-50%);
}
.pricing-footer{
    padding-top: 10px;
}
/* EVENT BUTTON ACTIONS */
.event-action-container{
    z-index: 99!important;
}
.event-action-container.edit{
    position: absolute;
    right: 0;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.event-action-container.edit.event-list{
    bottom: 0px;
    right: 15px;
}
.event-action-container.edit a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px 11px!important;
    background-color: white;
    color: var(--base-color);
    border:1px solid var(--base-color);
}
.event-action-container.edit a:hover{
    color: white;
    background-color: var(--base-color);;
}
.event-action-container.edit a i{
    padding-top: 3px;
    margin-left:0!important;
    font-size:21px;
}
/* ----------------------------------------- */
.event-action-container.disabled{
    position: absolute;
    right: 0;
    bottom: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.event-action-container.disabled.event-list{
    right: 70px;
    bottom: 0px;
}
.event-action-container.disabled a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px 11px!important;
    background-color: white;
    color: var(--red);
    border: 1px solid var(--red);
}
.event-action-container.disabled a:hover{
    color: white;
    background-color: var(--red);
}
.event-action-container.disabled a i{
    padding-top: 3px;
    margin-left:0!important;
    font-size:21px;
}
/* ----------------------------------------- */
.event-action-container.enabled{
    position: absolute;
    right: 0;
    bottom: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.event-action-container.enabled.event-list{
    right: 70px;
    bottom: 0px;
}
.event-action-container.enabled a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px 13px!important;
    background-color: white;
    color: var(--green);
    border: 1px solid var(--green);
}
.event-action-container.enabled a:hover{
    color: white;
    background-color: var(--green);
}
.event-action-container.enabled a i{
    padding-top: 3px;
    margin-left:0!important;
    font-size:21px;
}
/* ----------------------------------------- */
.form-select-sm{
    padding: 6px 25px;
    font-size: 14px;
}
.preformatted{
    white-space: pre-line;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
/* ACTIVITY CARD */
.activity-card {
    transition: transform 0.3s ease;
}
.activity-card:hover {
    transform: translateY(-5px);
}
.hover-box-custom:hover{
    border: 1px solid white!important;
}
.avatar-stack img{
    transition: transform 0.2s ease;
}
.avatar-stack img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.event-distance{
    width: 60px;
    font-size: 12px;
    font-weight: 600;
    padding-right: 13px;
}
.feature-box-icon{
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
    border-radius: 50%;
}
.popular-post-sidebar li figure{
    width: 70px;
}
/* map */
.infowindow .mb-3 {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0;
}
.infowindow p {
    font-size: 17px;
    letter-spacing: 0;
}
.google-maps-link a {
    font-size: 13px;
    letter-spacing: 1px;
}
.main-section{
    min-height: 80vh;
    padding-top: 140px;
}
.help-text{
    font-size: 12px;
}
.avatar-stack {
    display: flex;
    align-items: center;
}
.avatar {
    width: 50px;               /* Taille du cercle */
    height: 50px;              /* Taille du cercle */
    border-radius: 50%;        /* Rendre l'image circulaire */
    border: 2px solid #fff;    /* Bordure blanche pour un effet de contour */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre pour du relief */
    margin-left: -15px;        /* Chevauchement entre les cercles */
    object-fit: cover;         /* Remplir le cercle avec l'image */
}
.text-highlight span{
    bottom: 4px;
}
#disconnectBtn:hover{
    font-weight: 600;
    text-decoration: underline;
}
.admin-action a {
    display: inline-block; /* Nécessaire pour que transform fonctionne correctement */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
}
.admin-action a:hover {
    transform: translateY(-5px); /* Déplace légèrement vers le haut (5px) */
}
.form-switch .form-check-input:focus {
    --bs-form-switch-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e)!important;
}
.form-check-input{
    cursor: pointer;
}
.text-justify{
    text-align: justify;
}
/* Loader Dots */
#loader-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader-dots {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60px;
    margin: 0 auto;
}
.dot {
    width: 10px;
    height: 10px;
    background-color: var(--base-color);
    border-radius: 50%;
    animation: bounce 1.5s infinite;
}
.dot:nth-child(2) {
    animation-delay: 0.3s;
}
.dot:nth-child(3) {
    animation-delay: 0.6s;
}
.admin-activity-pills{
    padding: 5px 17px;
    border-radius: 20px;
    font-weight: 600;
    color: white;
    white-space: nowrap;
}
.canceled-label {
    position: absolute;
    top: -5px;
    left: 50%;
    padding: 1px 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.passed-label {
    position: absolute;
    top: -5px;
    left: 55px;
    padding: 1px 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* EVENT BY LIST */
.event-background-light {
    background-color: #FFFFFF; 
    border: 1px solid #D1C7BD;
    border-radius: 30px;
}

/* Couleur de la ligne foncée */
.event-background-dark {
    background-color: #FFFFFF; 
    border: 1px solid #D1C7BD;
    border-radius: 30px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}
/* media query responsive */
@media (max-width: 1199px) {
    header .btn.btn-switch-text.btn-small > span {
        padding: 10px 15px 8px;
    }
}
@media (max-width: 991px) {
    header .btn.btn-transparent-white-light {
        background-color: var(--dark-gray);
        border-color: rgba(23, 23, 23, 0.20);
        color: var(--white);
    }
}
@media (max-width: 767px) {
    .portfolio-filter li {
        padding: 0;
        margin-bottom: 5px;
    }
    .sm-text-outline-width-1px {
        -webkit-text-stroke-width: 1px;
    }
}
@media (max-width: 575px) {
    .video-icon-large .video-icon {
        width: 75px;
        height: 75px;
    }
    .video-icon .video-icon-sonar .video-icon-sonar-bfr {
        top: -30px;
        left: -30px;
    }
    .xs-w-320px {
        width: 320px !important
    }
    .xs-h-320px {
        height: 320px !important;
    }
    .btn.btn-switch-text.btn-extra-large > span {
        font-size: 17px;
        padding: 14px 22px 11px;
    }
}